html {
    scroll-behavior: smooth;
  }
  
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h1, h2, h3 {
    color: #fff;
}

.penguin {
  object-fit: fill;
}

.jumbotron {
    margin-top: 0px;
}

.item-card {
  border-radius: 25px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease; /* back to normal */
}

.item-card:hover {
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transform: translate3D(0,-1px,0) scale(1.03);
  transition: all .4s ease; /* zoom in */
}

.navbar {
  margin-bottom: 0;
  background-color: #020A12;
  z-index: 9999;
  border: 0;
  letter-spacing: 3px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  display: flex;
}
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #020A12 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  .navbar-brand {
    font-size: 24px !important;
    margin: 1rem;
  }

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-fluid {
    padding: 25px 50px;
    background-color: #020A12;
  }


